<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>BlackJack Notes App - New Note</title>
        <!-- styles -->
        {% if session.get('userpreference') == 'dark' %}
            <link rel="stylesheet" href="{{ url_for('static', filename='main_dark.css') }}">
        {% else %}
            <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        {% endif %}

    </head>
    <body>
        <div class="topnav">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('get_notes')}}">Notes</a>
            <a href="{{ url_for('logout') }}" class="search-container">Logout</a>
        </div>
        {% if note %}
        <h1>Please make any changes to your note</h1>
        {% else %}
        <h1>Please fill out your new note!</h1>
        {% endif %}
        <div class="body">
            {% if note %}
                <form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
            {% else %}
                <form action="new" method="post">
            {% endif %}
                <label for="title" class="label">Title </label>
                    <p><input type="text" name="title" id="title" class="inputTitle" value="{% if note %}{{note.title}} {% endif %}"/></p>
                <label class="label" for="inputNote" >Note </label>
                <p>
                    <textarea name="noteText" id="inputNote" class="inputNote" >{% if note %}{{note.text}}{% else %}Add your new note here ...{% endif %}</textarea>
                </p>

                <p>
                    {% if note %}
                        <input type="submit" class="sbtbutton" value="Update Note"/>
                    {% else %}
                        <input type="submit" class="sbtbutton" value="Create Note"/>
                    {% endif %}
                </p>
            </form>
        </div>
    </body>
</html>